/* header */
.home__header {
    padding-bottom: 30px;
    background-color: var(--colorAmarillo);
}

.home__logo {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.home__buy-text{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home__header a {
    margin-left: 40px;
}

.home__separar-ayuda {
    margin-bottom: 15px;
    display: block;
}

.home__burger-menu{
    text-align: center;
    padding-top: 30px;
}

.home__burger-menu-button{
    border-radius: 5px;
    color: white;
    background-color: var(--colorCeleste);
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}

.home__search{
    padding-left: 15px;
}

/* main */

.home__articles-img{
    display: block;
    margin: auto;
    padding-top: 50px;
}


.home__section-h4 {
    font-size: var(--fuenteTamaño-24);
}

.home__article--font--price {
    font-size: var(--fuenteTamaño-18);
}

.home__article--font{
    font-size: var(--fuenteTamaño-16);
}

/* footer */

.home__footer__text {
    font-size: var(--fuenteTamaño-12);
    text-align: center;
    padding-bottom: 20px;
    color: var(--colorGrisOscuro);
}
.home__copyright{
    font-size: var(--fuenteTamaño-12);
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--colorGrisOscuro);
}

