:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorBlanco: #ffffff;
    --fuenteTamaño-12: 12px;
    --fuenteTamaño-24: 24px;
    --fuenteTamaño-18: 18px;
    --fuenteTamaño-16: 16px;
}